.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.input {
    max-width: 1500px;
    width: 90vw;
    padding: 12px 20px;
    background-color: var(--primary);
    border-radius: 4px;
}

.input:focus {
    background-color: var(--gray);
    outline: none;
}

label {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.error {
    color: var(--error);
    transition: 0.5s ease;
    opacity: 0;
}

.error.active {
    opacity: 1;
}

.error-img {
    max-width: 90vw;
    margin: 20px 0;
    opacity: 0;
    transition: 0.5s ease;
}

.error-img.active {
    opacity: 1;
}