.form {
    width: 50%;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #0e8696;
    border-radius: 4px;
}

.input:focus {
    background-color: #1f8b99;
}

.error {
    color: rgb(188, 95, 250);
}