* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(17, 72, 80);
}

.page {
  text-align: center;
  padding-top: 30px;
}

.gif {
  max-width: 95vw;
}

p {
  color: white;
}

a {
  color: rgb(189, 253, 253);
  text-decoration: none;
}